.btn {
        padding: 1rem 3rem;
        border-radius: 2rem;
        font-weight: 700;
        &-primary
    &-outline-light{
        color: $clr-light;
        border: 1px solid $clr-light;
    }
    &-primary-outline{
        color: $clr-primary;
        background-color: transparent;
        border: 1px solid $clr-primary;
    }
}